# =============================
# MONITOREO Y TRACKING (VERSIONES ESTABLES)
# =============================
mlflow==2.13.0
evidently==0.6.7

# =============================
# MACHINE LEARNING
# =============================
scikit-learn==1.5.1
numpy==1.26.4
pandas==2.2.0

# =============================
# UTILIDADES
# =============================
requests==2.32.3
python-dotenv==1.0.1
pyyaml==6.0.1

# =============================
# DESARROLLO Y DEBUGGING
# =============================
ipython==8.23.0
jupyter==1.0.0

